footer.footer
    .footer-container.container
        .footer__top
            .footer__item
                .footer-logo
                    .footer-logo__text Deliver
                    .footer-logo__social
                        .footer-logo__brand
                            img(src="img/home/twitter.png" height="15" alt="")
                        .footer-logo__brand
                            img(src="img/home/facebook.png" height="15" alt="")
                        .footer-logo__brand
                            img(src="img/home/rss.png" height="15" alt="")
                p.footer__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus maiores vero, accusamus delectus iste debitis quaerat eaque excepturi assumenda.
            .footer__item
                h3.footer__heading contact info
                span.footer-row1 222 Ave C South #[br] Saskatoon, Saskatchewan #[br]  Canada S7K 2N5 #[br]  info@deliver.ca
                .phone 1.306.222.3456
            .footer__item
                h3.footer__heading quick links
                nav.footer-nav
                    a(href="portfolio.html" target="_blank").footer-nav__item
                        .footer-nav__icon
                            img(src="img/home/right-arrow.png" height="15" alt="")
                        .footer-nav__link Portfolio
                    a(href="about.html" target="_blank").footer-nav__item
                        .footer-nav__icon
                            img(src="img/home/right-arrow.png" height="15" alt="")
                        .footer-nav__link About
                    a(href="archive.html" target="_blank").footer-nav__item
                        .footer-nav__icon
                            img(src="img/home/right-arrow.png" height="15" alt="")
                        .footer-nav__link Archive
                    a(href="blog.html" target="_blank").footer-nav__item
                        .footer-nav__icon
                            img(src="img/home/right-arrow.png" height="15" alt="")
                        .footer-nav__link Blog
                    a(href="services.html" target="_blank").footer-nav__item
                        .footer-nav__icon
                            img(src="img/home/right-arrow.png" height="15" alt="")
                        .footer-nav__link Services
                    a(href="contact.html" target="_blank").footer-nav__item
                        .footer-nav__icon
                            img(src="img/home/right-arrow.png" height="15" alt="")
                        .footer-nav__link Contact Us
            .footer__item
                h3.footer__heading newsletter
                p.footer__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, aliquid?
                form.footer-form
                    input.footer-form__email(type="email" placeholder="Email")
                    button.footer-form__btn(type="submit") ok
        .footer__bottom
            .copy copyright 2020 #[span deliver.] all rights deserved.
            .footer-subnav
                a.footer-subnav__link(href="about.html" target="_blank") about 
                a.footer-subnav__link(href="#") privacy policy 
                a.footer-subnav__link(href="#") contact


