header(class="header" id="header")
    .burger.burger--helper
        span.burger__line
    .header-container.container
        div(class="header__top")
            div(class="logo") Deliver
            div(class="header__social header-social")
                div(class="header-social__item")
                    img(src="img/home/twitter.png" height="17" class="header-social__img")
                div(class="header-social__item")
                    img(src="img/home/facebook.png" height="17" class="header-social__img")
                div(class="header-social__item")
                    img(src="img/home/rss.png" height="17" class="header-social__img")
        div(class="header__bottom")
            div(class="header__nav")
                a(href="index.html" target="_blank" class="header__link") home
                a(href="portfolio.html" target="_blank" class="header__link") portfolio
                a(href="about.html" target="_blank" class="header__link") about
                a(href="services.html" target="_blank" class="header__link") services
                a(href="archive.html" target="_blank" class="header__link") archive
                a(href="blog.html" target="_blank" class="header__link") blog
                a(href="#" class="header__link") other pages
                a(href="contact.html" target="_blank" class="header__link") contact us
            div(class="header__search")
                input(type="search" placeholder="Search..." class="header__input")
                img(class="search-icon" src="img/home/magnifying-glass.png" alt="loupe" height="20")
        