/* General styles
 ===================*/
 *{
    margin: 0;
    padding: 0;
}
html{
    font-size: 15px;
    scroll-behavior: smooth;
}
body{
    font-family: $text;
}
h1,h2,h3,h4{
    font-family: $heading;
}
a{
    text-decoration: none;
    color: #000;
}
ul, li{
    list-style: none;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}


