/* Colors
=================== */
$accent     = #6EB76E;
$dark       = #2F2F2F; 
$gray       = #BBB8B8;
$light      = #EFEFEF;
$white      = #fff;

/* Fonts
=================== */
$logo       = 'Pacifico', cursive;
$text       = 'Work Sans', sans-serif;
$heading    = 'Raleway', sans-serif;

/* Media queries
=================== */
$tablet     = 995px;
$mobile     = 670px;
$mobile-sm  = 420px;
$mobile-xs  = 350px;