html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content="width=device-width, minimum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Our portfolio
        link(href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.css")
    body
        <!-- ======== Header ======== -->
        include includes/header-dark.pug  

        .title-img
            .container.title-img__container Our portfolio
        section.portfolio
            .portfolio__container.container
                div(class="title title--helper")
                    h1(class="title__heading") Nothing but the best for our portfolio
                    p(class="title__text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, odit? Impedit, maiores! Vero, #[br] aspernatur inventore. adipisicing elit. Asperiores, odit? Impedit, maiores! 
                nav.portfolio-nav
                    a(href="#").portfolio-nav__link all
                    a(href="#").portfolio-nav__link web design
                    a(href="#").portfolio-nav__link freebies
                    a(href="#").portfolio-nav__link photography
                    a(href="#").portfolio-nav__link print
            .portfolio__content
                .portfolio-content.container
                    .portfolio__item
                        .portfolio__h3 pure homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-1.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 j & h builders
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-2.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 ward homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-3.png" height="190" alt="img")
            .portfolio__content
                .portfolio-content.container
                    .portfolio__item
                        .portfolio__h3 pure homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-1.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 j & h builders
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-2.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 ward homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-3.png" height="190" alt="img")
            .portfolio__content
                .portfolio-content.container
                    .portfolio__item
                        .portfolio__h3 pure homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-1.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 j & h builders
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-2.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 ward homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-3.png" height="190" alt="img")
            .portfolio__content
                .portfolio-content.container
                    .portfolio__item
                        .portfolio__h3 pure homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-1.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 j & h builders
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-2.png" height="190" alt="img")
                    .portfolio__item
                        .portfolio__h3 ward homes
                        .portfolio__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet alias.
                        .portfolio__img
                            img(src="img/portfolio/item-3.png" height="190" alt="img")
            .container
                div(class="title title--helper2")
                    h1(class="title__heading") Do you need a website?
                    p(class="title__text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, odit? Impedit, maiores! Vero, #[br] aspernatur inventore. adipisicing elit. Asperiores, odit? Impedit, maiores! 
                    button.btn.btn--alt purchase






        <!-- ======== Footer ======== -->
        include includes/footer.pug  

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="js/main.js")
        <!-- ======== Icons made by "https://www.flaticon.com/authors/pixel-perfect"   ======== -->